// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

//new colors

// $primary-color: #3dbe88;
// $secondary-color: #b2e205;

// $primary-color: #7002b0;
// $secondary-color: #be3d6e;

// $primary-color: #f38406;
// $secondary-color: #ff4800;

// $primary-color: #06f3d3;
// $secondary-color: #006eff;

$primary-color: #006eff;
$secondary-color:  #06f3d3;

// $primary-color: #6c31f7;
// $secondary-color:  #00ffdd;


$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
